<ons-card style="margin-top: 7vw">
  <div class="center">

    <ons-list-item modifier="nodivider"  class="center">
      <img *ngIf="user.avatar" class="list-item__thumbnail" style="width: 50%; height: auto" src="{{user.avatar}}"/>
      <img *ngIf="!user.avatar" src="../../../assets/Papirus-Team-Papirus-Status-Avatar-default.svg">
    </ons-list-item>

    <ons-button modifier="quiet" class="content-right" routerLink="../edit">
      <ons-icon icon="ion-edit"  size="10vw"></ons-icon>
    </ons-button>

    <ons-list-item modifier="nodivider" class="center">
      {{user.firstName}}
      {{user.lastName}}
    </ons-list-item>

    <ons-list-item *ngIf="office" modifier="nodivider" class="center">
      {{office.name}}
    </ons-list-item>

    <ons-list-item modifier="nodivider" class="center">
      <app-qrcode-writer [code]="user.id" scaleqr="5"></app-qrcode-writer>
    </ons-list-item>
  </div>
</ons-card>
