<ons-toolbar>
  <div class="center">
    <img src="../../../assets/logo.png"/>

  </div>
</ons-toolbar>
<ons-list>
  <ons-list-item>
    <div class="center"></div>
  </ons-list-item>
  <ons-list-item>
    <a class="center" routerLink="profile">Profile</a>
  </ons-list-item>
  <ons-list-item>
    <a class="center" routerLink="mydevices">My Devices</a>
  </ons-list-item>
  <ons-list-item>
    <a class="center" routerLink="alldevices">All Devices</a>
  </ons-list-item>
  <ons-list-item>
    <a class="center" routerLink="employees">Employees</a>
  </ons-list-item>
  <ons-list-item>
    <a class="center" routerLink="identify">Identify</a>
  </ons-list-item>
  <ons-list-item>
    <a class="center" routerLink="places">Places</a>

  </ons-list-item>

</ons-list>




<div class="background">

</div>
<div class="content">
  <!--<ons-toolbar>-->
    <!--<div class="center">Left Page</div>-->
  <!--</ons-toolbar>-->
  <!--<ons-toolbar>-->
    <!--<div class="center">Left Page</div>-->
  <!--</ons-toolbar>-->
</div>
