<!-- <form class="login-form">

    <label for="login" class="login-form__label">
      <ons-input type="text" name="login" id="login" class="login-form__input" placeholder="Username" [(ngModel)]="login" modifier="material" autocomplete="off"
        required></ons-input>
    </label>

    <label for="login" class="login-form__label">
      <ons-input type="password" name="password" id="password" class="login-form__input" placeholder="Password" [(ngModel)]="password"
        modifier="material" autocomplete="off" required></ons-input>
    </label>

    <ons-button class="login-form__btn" (click)="authorizate()" modifier="material">Login</ons-button>

</form> -->

<ons-page>
  <div class="background"></div>
  <div class="content">
    <ons-card>
      <div class="title">
        Login to your account
      </div>
      <div class="content">
        <div class="content__input">
          <ons-input type="text" placeholder="Username" [(value)]="login"></ons-input>
        </div>
        <div class="content__input">
          <ons-input type="password" placeholder="Password" [(value)]="password"></ons-input>
        </div>
        <div class="content__btn">
          <ons-button (click)="authorizate()">Login</ons-button>
        </div>
      </div>
    </ons-card>
  </div>
</ons-page>
