<ons-page>
  <div class="background"></div>
  <div class="content">
    <div class="back">
      <ons-back-button routerLink="../">Back
      </ons-back-button>
    </div>
    <ons-card>
      <div class="title">
        Add New Device
      </div> 
        <div class="content">
          <div class="content__input">
            <ons-input modifier="material" type="text" placeholder="Device Name"  #nameEdit></ons-input>
          </div>
          <div class="content__btn">
            <ons-button (click)="onSubmit()" modifier="large">Add</ons-button>
          </div>
        </div>
    </ons-card>
  </div>
</ons-page>
