<ons-page>
  <div class="background"></div>
  <div class="content">
    <ons-card class="card">
      <div class="title" [ngClass]="{ 'hidden': noCameraPermissionClass }">
        Scan your device's QR code
      </div>
      <div class="qr-code-information" [ngClass]="{ 'hidden': siteLoadedClass }">{{loadingMessage}}</div>
      <canvas #canvasEl class="video" [ngClass]="{ 'hidden': isLoadingSiteClass }"></canvas>
      <div class="qr-code-information" [ngClass]="{ 'hidden': isLoadingSiteClass }">
        <p *ngIf="outputData">
          <b>Your QR code: </b>{{outputData}}</p>
      </div>
    </ons-card>
  </div>
</ons-page>
