<ons-page *ngIf="employee">
  <ons-card>
    <ons-list-item>
      USER
    </ons-list-item>
    <ons-list-item modifier="nodivider" class=" center">
      <img class="list-item__thumbnail image" src={{employee.avatar}}>
    </ons-list-item>
    <ons-list-item>
      <span class="list-item__title">First name</span>
      <span class="list-item__subtitle">{{ employee.firstName }}</span>
    </ons-list-item>
    <ons-list-item>
      <span class="list-item__title">Last name</span>
      <span class="list-item__subtitle">{{ employee.lastName }}</span>
    </ons-list-item>
    <ons-list-item>
      <span class="list-item__title">Email</span>
      <span class="list-item__subtitle">{{ employee.email }}</span>
    </ons-list-item>
    <ons-list-item>
      <span class="list-item__title">Login</span>
      <span class="list-item__subtitle">{{ employee.login }}</span>
    </ons-list-item>
    <ons-list-item *ngIf="office">
      <span class="list-item__title">Office</span>
      <span class="list-item__subtitle">{{ office.name }}</span>
    </ons-list-item>
    <ons-list-item>
      <span class="list-item__title">Admin</span>
      <span class="list-item__subtitle">{{employee.isAdmin ? "yes" : "no"}}</span>
    </ons-list-item>
    <ons-list-item modifier="nodivider" class="center">
      <app-qrcode-writer [code]=employee.id></app-qrcode-writer>
    </ons-list-item>
  </ons-card>
</ons-page>
