<ons-page>
  <div class="background"></div>
  <div class="content">
    <div class="back">
      <ons-back-button routerLink="../">Back
      </ons-back-button>

    </div>

    <ons-card class="card">
      <ons-list-item class="ons-list__item center" *ngIf="device">
        <div class="center">
          <span class="list-item__title center">{{device.name}}</span>
          <ons-button *ngIf="user.isAdmin" modifier="quiet" class="content-right " routerLink="./form">
            <ons-icon icon="ion-edit" size="30px"></ons-icon>
          </ons-button>
        </div>
      </ons-list-item>

      <div class="content" *ngIf="device">
        <p>
          Device ID: {{device.id}}
        </p>
        <app-qrcode-writer class="center" [code]="device.id" [scaleqr]="9"></app-qrcode-writer>
     
      </div>
    </ons-card>
  </div>
</ons-page>
<ons-bottom-toolbar class="bottom-bar" *ngIf="device" >
  <ons-button routerLink="/devices/transfer/{{device.id}}" modifier="large">Transfer</ons-button>
</ons-bottom-toolbar>