.center{
    display: flex;
    justify-content: center;

}

.back{
    display: flex;
    justify-content: space-between;
}

.card{
    margin-bottom: 50px;
}

.img{
    width:40%;
    height: auto;
}

.bottom-bar {
  display: flex;
  align-items: flex-end;
}
