.content, .title {
    text-align: center;

    &__input {
      padding: 10px;
      &__txt{
        width: 100%;
      }
    }

    &__btn {
      margin: 10px;
    }
  }

  .back{
      text-align: left;
  }

  .textarea{
    width: 100%;
  }
