<ons-toolbar>
  <div class="center">
    <img src="../../assets/logo.png"/>

  </div>
</ons-toolbar>
<ons-list>
  <ons-list-item>
    <div class="center"></div>
  </ons-list-item>
  <ons-list-item>
    <div class="center">Profile</div>
  </ons-list-item>
  <ons-list-item>
    <div class="center">My Devices</div>
  </ons-list-item>
  <ons-list-item>
    <div class="center">All Devices</div>
  </ons-list-item>
  <ons-list-item>
    <div class="center">Employees</div>
  </ons-list-item>
  <ons-list-item>
    <div class="center">Identify</div>
  </ons-list-item>
  <ons-list-item>
    <div class="center">Places</div>

  </ons-list-item>

</ons-list>




<div class="background">

</div>
<div class="content">
  <!--<ons-toolbar>-->
    <!--<div class="center">Left Page</div>-->
  <!--</ons-toolbar>-->
  <!--<ons-toolbar>-->
    <!--<div class="center">Left Page</div>-->
  <!--</ons-toolbar>-->
</div>
